@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-exo: 'exo-2', sans-serif;
  --color-primary: #3A59D1;
  --color-secondary: #3D90D7;
  --color-cold: #7AC6D2;
  --color-gradient: #B5FCCD;
  --color-background:;
}

body {
  font-family: var(--font-poppins);
}